{% extends "base_admin.html" %}
{% block hover-c %}active{% endblock %}

{% block content %}

<div class="panel panel-info">
	<div class="panel-heading">
		Lista de visitas a <b>{{client.name}} {{client.surname}}</b>
	</div>
	<div class="panel-body">
	{% if visits %}	
	<table class="table table-hover">
		<thead>
			<tr>
			<th>Distribuidor</th>
			<th>Fecha</th>
			<th>Notas</th>
			</tr>
		</thead>
		<tbody>
			{% for v in visits %}
			<tr>
				<td>{{v.distributor.name}}</td>
				<td>{{v.date}}</td>
				<td>{{v.comment}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
		<h3>No tiene visitas registradas</h3>
	{% endif %}

	</div>
</div>

{% endblock %}