{% extends "base_admin.html" %}
{% block hover-c %}active{% endblock %}

{% block content %}

<div class="panel panel-info">
	<div class="panel-heading">
		Lista de pagos realizados por <b>{{client.name}} {{client.surname}}</b>
	</div>
	<div class="panel-body">
	{% if payments %}	
	<table class="table table-hover">
		<thead>
			<tr>
			<th>Fecha</th>
			<th>Distribuidor</th>
			<th>Monto</th>
			</tr>
		</thead>
		<tbody>
			{% for p in payments %}
			<tr>
				<td>{{p.date}}</td>
				<td>{{p.distributor.name}} {{p.distributor.surname}}</td>
				<td>$ {{p.amount}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
		<h3>No tiene pagos registrados</h3>
	{% endif %}

	</div>
</div>

{% endblock %}