{% extends "base_admin.html" %}
{% block hover-c %}active{% endblock %}

{% block content %}

<div class="panel panel-info">
	<div class="panel-heading">
		Lista de ventas realizadas a <b>{{client.name}} {{client.surname}}</b>
	</div>
	<div class="panel-body">
		
	<table class="table table-hover">
		<thead>
			<tr>
			<th>Distribuidor</th>
			<th>Fecha</th>
			<th>Monto total</th>
			<th>Detalles de la venta</th>
			<th>Notas</th>
			</tr>
		</thead>
		<tbody>
			{% for s in sales %}
			<tr>
				<td>{{s.distributor.name}}</td>
				<td>{{s.date}}</td>
				<td>$ {{s.total_amount}}</td>
				<td><a href="{% url "sale_detail" s.id %}">Detalles</a></td>
				<td>{{s.comment}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

	</div>
</div>

{% endblock %}