{% extends "base_admin.html" %}
{% load staticfiles %}

{% block extra_head %}
 <script type="text/javascript" src="{% static "distrib/js/jquery-3.1.1.min.js" %}"></script> 
{% endblock %}

{% block hover-c %}active{% endblock %}

{%block content%}

<div class="row">
    <form name='filter'  method="get">
                <div>
                    <h4>
                        Filtrar por apellido o DNI:
                    </h4>
                    
                   <input id='filter_client' class="input-lg" type="text" name="filter">
                </div>
    </form>
    <br>
    <div class="container">
    <div id='block-list-client' class="col-md-7" style="margin-left: 150px; ">
        <div class="list-group">
            {% for client in client_list %}
            <a class="list-group-item list-group-item-action " href="{% url 'client_detail_a' client.id %}"><i class="fa fa-edit"></i>  {{ client.name }} <strong>{{client.surname}}</strong> - {{ client.dni }}</a>
            {% endfor %}
        </div>
    </div>
    </div>
</div>

{%endblock%}

{% block extra_js %}

<script type="text/javascript">
 $(function() {
      // navigate to page on click event

    $('#filter_client').on('input', function() {
          var baseUrl = '/bloque/buscar_cliente/';
          $( "#block-list-client" ).load(baseUrl + '?filter=' + $('#filter_client')[0].value);
        
    console.log(baseUrl + '?filter=' + $('#filter_client')[0].value)
        
    });
 });
</script>

{%endblock%}