{% extends "base.html" %}

{% block content %}
<h3 style="text-align: center"><b>Información del cliente</b></h3>
<br>
<h3>Nombre: {{client.name}} {{client.surname}}</h3>
<h3>DNI: {{client.dni}}</h3>
<h3>Dirección: {{client.address}}</h3>
<h3>Telefono: {{client.phone}}</h3>
<h3 style="font-style: italic;" ><b>Debe: ${{client.debt}}</b></h3>
<br>

{% if borrow %}
<table class="table">
	<thead>
		<tr>
			<th>Envases prestados</th>
			<th>Cantidad</th>
		</tr>
	</thead>
	<tbody>
		
		{% for key,value in borrow.items %}
		<tr>
			<td>
				<h4><b>{{key}}</b></h4>
			</td>
			<td>
				<h4><b>{{value}}</b></h4>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% else %}
<div>
<h4><b>No tiene envases prestados</b></h4>
</div>
{% endif %}

<br>

<a href="{% url "sale_visit" client.id %}"><button type="submit" class="btn btn-primary btn-block">Venta / visita</button></a>
<br>
<a href="{% url "registrarPago" client.id %}"><button type="submit" class="btn btn-primary btn-block">Pagar</button></a>
<br>
<a href="{% url "detail_borrowed" client.id %}"><button type="submit" class="btn btn-primary btn-block">Devolver envases</button></a>


{% endblock %}