{% extends "base.html" %}
{% load staticfiles %}

{% block extra_head %}
<script type="text/javascript" src="{% static "distrib/js/jquery-3.1.1.min.js" %}"></script>
{% endblock %}

{% block content %}


{% if borrow %}

	<h3>Envases prestados a</h3>
	<h3><b>{{client.name}} {{client.surname}}</b></h3>    
	<br>

	<h4 class="text-info">Ingrese la cantidad de envases que el cliente devuelve de cada producto. En número
	 ingresado debe ser menor o igual al número de envases prestados.</h4>	

	<form action="" id="formulario" method="post">{% csrf_token %}
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Envase</th>
				<th>Prestados</th>
				<th>Devolver</th>
			</tr>
		</thead>
			<tbody>
		
		{% for key,value in borrow.items %}
			<tr>

			<td><b>{{key}}</b></td>

			<td style="text-align: center;">{{value}}</td>

			<td>
				<input type="number" min="0" max="{{value}}" name="{{key}}" id="{{key}}" value="0"> <h5 style="float:left"; class="text-muted">Máximo {{value}}</5>
			</td>

			</tr>

		
		{% endfor %}

		</tbody>
		
	</table>
	<!-- boton submit del formulario 
	<input class="btn btn-primary" type="submit" name="" value="Devolver envases">
	-->

	<!-- Boton que llama al modal-->
	<button type="button" class="btn btn-primary" id="devolver" data-toggle="modal" data-target="#modal">Devolver envases</button>


	</form>

	{% else %}
	<b>No tiene envases prestados</b>

{% endif %}


<div id="modal" class="modal fade" role="dialog">
		  <div class="modal-dialog">

		    <!-- Modal content-->
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal">&times;</button>
		        <h4 class="modal-title">¿Esta seguro que desea devolver los envases seleccionados?</h4>
		      </div>
		      <div class="modal-body">
		      <span> <b></b></span><div id="inner"></div>
		      </div>
		      <div class="modal-footer">
		        <input type="submit" class="btn btn-success" value="Si, confirmar" form="formulario">
		        <button type="button" class="btn btn-danger" data-dismiss="modal">No, cancelar</button>
		      </div>
		    </div>

		  </div>
		  </div>


{% endblock %}

{% block extra_js %}

<script type="text/javascript">

	/* 
	$('#devolver').click(function (e) {

	var resultado = new Map();

	e.preventDefault();

	// Validar que la cantidad de envases ingresada sea menor a la que tiene prestado
	// Si los valores son correctos, se muestra el modal con los datos ingresados para confirmar la devolucion
	// si los valores son incorrectos, se muestra en el modal cual es el campo de error y solamente la opcion de cerrar el modal, no se podrá continuar

	{% for key,value in borrow.items %}
	// puede que no funcione porque algunos valores tomados sean nulos, verificar
	if ( parseInt($('#{{key}}').val()) > {{value}} ){
		resultado.set('{{key}}', false);
	}else{
		resultado.set('{{key}}', true);
	}

	{% endfor %}

	valores = resultado.prototype.values();
	// buscar que la lista contenga un false
	a = valores.includes(false);

	$( "#inner" ).html(valores);
	console.log(valores);

	// if resultado contiene algun false es proque hay campos invalidos
	
	});
	*/

</script>

{% endblock %}