{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block extra_head %}
<script type="text/javascript" src="{% static "distrib/js/jquery-3.1.1.min.js" %}"></script>
{% endblock %}


{% block content %}

<div class="row">
	<div class="col-md-12 col-xs-10">

		<div class="panel panel-info">
			<div class="panel-heading">
				Registrar pago de <b>{{client.name}} {{client.surname}}</b>
			</div>
			<div class="panel-body">

			<h4>Deuda actual: ${{client.debt}}</h4>
				
			<form action="" id="formulario" method="post">{% csrf_token %}
				
				{{form|crispy}}
					
				<br>
			
			<button type="button" id="registrar" class="btn btn-primary btn-block" data-toggle="modal" data-target="#modal">Registrar pago</button>

			</form>

				<div id="modal" class="modal fade" role="dialog">
		 			<div class="modal-dialog">

					   	<!-- Modal content-->
					    <div class="modal-content">
					      	<div class="modal-header">
					        	<button type="button" class="close" data-dismiss="modal">&times;</button>
					        	<h4 class="modal-title">¿Desea continuar?</h4>
					      	</div>
					      	<div class="modal-body">
					      		<h3>Se registrará el pago en el sistema de $ <span id="inner"> </span> </h3>
					      	</div>
					      	<div class="modal-footer">
					        	<input type="submit" class="btn btn-success" value="Si, confirmar" form="formulario">
					        	<button type="button" class="btn btn-danger" data-dismiss="modal">No, cancelar</button>
					      	</div>
					    </div>

					</div>
		  		</div>


			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block extra_js %}
<script type="text/javascript">
document.getElementById("id_amount").setAttribute('max','{{client.debt}}');

$('#registrar').click(function (e) {
	e.preventDefault();

	cantidad = $("input#id_amount").val();

	$("#inner").html(cantidad);
});

</script>
{% endblock %}