{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="row">
	<div class="col-md-12 col-xs-10">

		<div class="panel panel-info">
			<div class="panel-heading">
				Registrar pago de <b>{{client.name}} {{client.surname}}</b>
			</div>
			<div class="panel-body">

			<h4>Deuda actual: ${{client.debt}}</h4>
				
			<form action="" method="post">{% csrf_token %}
				
				{{form|crispy}}
					
				<br>
			
			<input type="submit" value="Pagar" class="btn btn-primary btn-block">
				
			</form>

			</div>
		</div>

	</div>
</div>

{% endblock %}

{% block extra_js %}
<script type="text/javascript">
document.getElementById("id_amount").setAttribute('max','{{client.debt}}');
</script>
{% endblock %}