{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load index %}

{% block extra_head %}
<script type="text/javascript" src="{% static "distrib/js/jquery-3.1.1.min.js" %}"></script>
{% endblock %}

{% block content %}

<h4>Seleccione los productos y sus cantidades para registrar la venta</h4>

<form action="" id="formulario" method="post">{% csrf_token %}

	<div>

	<table class="table table-condensed table-hover" id="table_sail">
		<thead> 
      <tr>
        <th>Producto</th>
				<th>Cantidad</th>
			</tr>
		</thead>
		<tbody> 

    <!-- Por cada formulario en la lista de formularios -->
    {% for f in listaForm %}

      <tr>
        <td>
        <!-- obtengo cada producto desde el index del for -->
          {{ products|index:forloop.counter0 }}
        </td>
        <td>
          {{f.quantity}}
        </td>
      </tr>

    {% endfor %}
		
		</tbody>
		
	</table>

  <h4>Si no hay gente en el domicilio desmarque la opción siguiente y deje un comentario</h4>

	</div>
	
	{{ form|crispy }}

	<br>
  <!-- Boton que llama al modal-->
	<button type="button" class="btn btn-success btn-block" id=registrar data-toggle="modal" data-target="#modal">Registrar venta</button>

</form>
    


<div id="modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">¿Esta seguro que desea continuar?</h4>
      </div>
      <div class="modal-body">
      <span id="inner"></span>
      </div>
      <div class="modal-footer">
      <!-- INPUT que submit que envia el formulario-->
        <input type="submit" class="btn btn-success" value="Si, confirmar" form="formulario">
        <button type="button" class="btn btn-danger" data-dismiss="modal">No, Cancelar</button>
      </div>
    </div>

  </div>
  </div>

{% endblock %}

{% block extra_js %}

<!-- Setea el maximo valor del input quantity, Bloquea los campos cantidad si no hay nadie en casa -->
<script type="text/javascript">

    {% for p in products %}

      document.getElementById("id_{{p.id}}-quantity").setAttribute('max','999');

    {% endfor %}

$('#id_succes').change(function() {

    {% for p in products %}

      $("#id_{{p.id}}-quantity").val("");
      $('#id_{{p.id}}-quantity').attr('disabled', !this.checked);

    {% endfor %}

});
</script>

<!-- Calcula el total de la venta para mostrarlo en el modal -->
<script type="text/javascript">
  
  $('#registrar').click(function (e) {

  e.preventDefault();
  // tomo el valor de checkbox para comprobar si es venta o visita
  var check = $('.checkboxinput');
  var succes = $(check).is(":checked")

  if(!succes){
      $( "#inner" ).html("<h2>Registrar comentarios de visita</h2>");

  }else{

    total = 0;

     {% for p in products %}
      // Si la cantidad es disitinta de cero y hay algun producto seleccionado, entonces sumo al total
      if ( $('#id_{{p.id}}-quantity').val() != 0 ){
        total += $('#id_{{p.id}}-quantity').val() * {{p.get_price}}

      }

     {% endfor %}
  

  // total es la variable con la suma total que se inserta en el modal
  $( "#inner" ).html("<h2>Suma total de la venta <b>$"+total+"</b></h2>");
  }

});

</script>

{% endblock %}

